{% extends "../../store/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="flex w-full mt-12 justify-center">
    <div class="flex flex-col flex-wrap w-2/6" >
        <form action="." method="post">
            {% csrf_token %}
            <h3 >Create an account</h3>
            <p class="mb-8">It's free and only takes a minute.</p>

            {% if form.errors %}
                <p>Please correct the following errors:</p>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="border-none p-3 text-red-600 mb-2 bg-red-100" role="alert">
                            {{ field.label }}: {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            <label class="pb-2" >{{ form.user_name.label }}
                (Required)</label>
            {{ form.user_name }}

            <label class="pb-2">{{ form.email.label}}
                    (Required)</label>
            {{ form.email }}

            <label class="pb-2">{{ form.password.label}}
                (At least 8 characters and 1 digit)
            </label>
            {{ form.password }}

            <label class="pb-2">{{ form.password2.label}}
                    (Required)</label>
            {{ form.password2 }}

            <button class="bg-blue-600 p-2 rounded-md text-white w-full mt-4" type="submit">Register</button>
            <p class="text-center pt-2">
                <a class="no-underline" href="{% url 'account:login' %}">Already have an account?</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}