{% extends "../../store/base.html" %}
{% block title %}Update{% endblock %}
{% block content %}

<div class="flex justify-center mt-20 w-full">
    <div class="flex flex-col w-2/6 flex-wrap">
        <form class="p-4 rounded" action="{% url 'account:editDetails' %}" method="post">
            {% csrf_token %}
            <h3 class="mb-4">Update User name</h3>

            {% if form.errors %}
            <div class="border-none p-3 text-red-600 mb-2 bg-red-100" role="alert">
             {{ form.errors }}
            </div>
            {% endif %}

            <label class="form-label">{{ form.email.label}}</label>
            {{ form.email}}

            <label class="form-label">{{ form.user_name.label}}</label>
            {{ form.user_name}}
            <div class="flex justify-between flex-col">
                <input type="hidden" name="next" value="{{ next }}">
                <button class="bg-blue-600 p-2 rounded-md text-white mt-4" type="submit" value="Log-in">Save
                </button>
            </div>
            <p class="text-center pt-2">
                <a class="no-underline text-md" href="{% url "account:dashboard" %}">back to dashboard</a>
            </p>
        </form>
        <form class="p-4" action="{% url "account:delete_user" %}" method="post">
            {% csrf_token %}
            <h3>Delete Account</h3>
            <p>Are you sure you want to delete your account?</p>
            <button type="submit" role="button"
                class="bg-red-600 text-white p-2 rounded-md w-full">Delete</button>
        </form>
    </div>
</div>

{% endblock %}