{% extends "../../store/base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<div class="flex justify-center w-full" >
    <div class="flex flex-col w-5/12 p-2 mt-14">
        <form class="" method="post">
            {% csrf_token %}
            <h4 class="">Change your password</h4>
            <p>Use the form below to change your password.</p>

            {% if form.errors %}
            <div class="border-none p-3 text-red-600 mb-2 bg-red-100" role="alert">
                Error: Please try again!
            </div>
            {% endif %}

            <label class="mt-3 mb-2">{{ form.new_password1.label}}</label>
            {{ form.new_password1 }}
            <label class="mt-3 mb-2">{{ form.new_password2.label}}</label>
            {{ form.new_password2 }}
            <p>- Your password can’t be too similar to your other personal information.</p>
            <p>- Your password must contain at least 8 characters.</p>
            <p>- Your password can’t be a commonly used password.</p>
            <p>- Your password can’t be entirely numeric.</p>
            <button class="bg-blue-600 p-2 rounded-md text-white mt-4 w-full" type="submit"
                value="Change">Submit
            </button>
        </form>

        <div class="flex justify-center flex-col mt-2">
            <a class="no-underline text-center" href="{% url "account:login" %}">Already have an account?</a>
            <a class="no-underline text-center mb-20" href="{% url "account:register" %}">Help Center?</a>
        </div>
    </div>
</div>
{% endblock %}