{% extends "../../store/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "account:dashboard" %}';
    </script>
{% endif %}
<div class="flex mt-14 justify-center" >
    <div class="flex flex-col w-2/6 flex-wrap">
        <form class="" method="post" action="{% url 'account:pwdreset' %}">
            <h3 class="">Forgotten your password?</h3>
                <p>Enter your e-mail address to obtain a new password.</p>
                {% if form.errors %}
                    <div class="border-none p-3 text-red-600 mb-2 bg-red-100" role="alert">
                        {{form.errors}}
                    </div>
                {% endif %}
                {% csrf_token %}
                <label class="mt-3 mb-2">{{ form.email.label}}</label>
                {{ form.email }}
                <button class="bg-blue-600 p-2 rounded-md text-white mt-4 w-full" type="submit"value="Send e-mail">Send e-mail</button>
                <p class="text-center pt-1"><a  class="no-underline" href="{% url "account:login" %}">Login</a></p>
        </form>
    </div>
</div>

{% endblock %}