{% extends '../base.html' %} {% block content %}

<div class="flex bg-gray-200 flex-wrap mx-20 my-20">
  <div class="flex-col flex-wrap bg-green-700 p-20">
    <img
      class="w-96 h-96 shadow-lg border-8 border-white"
      src="{{product.image.url}}"
      alt="Vans"
    />
    <h4
      class="pt-10 text-gray-100 font-mono leading-tight text-center text-4xl"
    >
      {{product.title}}
    </h4>
    <h6 class="text-gray-200 font-mono leading-tight text-center text-xl">
      Author: {{product.author}}
    </h6>
  </div>

  <div
    class="
      details
      m-10
      text-2xl
      font-normal
      leading-loose
      tracking-wider
      font-serif
    "
    style="width: 65rem"
  >
    <p class="">{{product.description}}</p>

    <label class="font-bold text-3xl" for="select">Qty:</label>
    <select class="w-44 bg-gray-700 text-white py-1" id="select">
      <option class="bg-green-600" value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <div class="buy">
      <div class="price">
        <h5 class="font-bold text-green-800 text-3xl mt-4">Price: ${{product.price}}</h5>
      </div>

      <button
        class="border-2 font-bold rounded-md border-gray-400 pl-2 pr-8"
        type="button"
        id="add-button"
        value="{{product.id}}"
      >
        <i
          style="font-size: 36px"
          class="fa fa-shopping-cart text-gray-600 pr-2 hover:text-gray-800"
        ></i>
        Add to Cart
      </button>
    </div>
  </div>
</div>

<script>
  $(document).on("click", "#add-button", function(e){
      e.preventDefault();

      $.ajax({
        type:"POST",
        url:"{% url "basket:basket_add" %}",
        data: {
            productid: $("#add-button").val(),
            productqty: $('#select option:selected').text(),
            csrfmiddlewaretoken:"{{ csrf_token }}",
            action:"post"
        },
        success: function(json){
            document.getElementById("basket-qty").innerHTML = json.qty
        },
        error: function(xhr, errmsg, err){

        }
      })
  })
</script>

{% endblock content %}
